@model TMS.Models.UsersTable
@{
    ViewBag.Title = "VerifyAccount";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/Site.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


<h2>VerifyAccount</h2>
<div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
    <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
        <div class="uil-default-css">
            <div class="loader">Loading...</div>
        </div>
        <div class="resultLoading" style="display: block; font-size: 18px; font-weight: 300;">&nbsp;</div>
    </div>
    <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
</div>
@if (ViewBag.status != null && Convert.ToBoolean(ViewBag.status))
{
    <div class="card text-center  mt-100">
        <div class="card-header bg-success text-white">VERRIFICATION</div>
        <div class="card-body">
            <h5 class="card-title ">EMAIL CONFIRMATION</h5>
            <p class="card-text">  ACCOUNT VERRIFICATION <span class="text-success">SUCCESSFULL</span></p>

            @Html.ActionLink("Login", "Login", "Users")
        </div>
        <div class="card-footer text-muted"> <a href="#" class="btn btn-outline-primary text-black">@ViewData["nowDt"]</a></div>
    </div>
}
else
{
    <div class="form-group">
        <div class="col-md-10 alert alert-danger alert-dismissable ">
            @ViewBag.message
        </div>
    </div>
}